.navbar-brand {
  display: flex;
  align-items: center;  
}

.navbar-brand {
  color: white !important;
}

.navbar-brand:hover,
.navbar-brand:focus {
  color: white !important;
}

.navbar-logo {  
  width: 100px;
  object-fit: contain;
}

.navbar .nav-link {
  color: #bdbdbd !important; /* gris */
  transition: color 0.3s ease;
}

.navbar .nav-link:hover {
  color: #ffffff !important;
}

.navbar .nav-link.active {
  color: #ffffff !important; /* blanco cuando está seleccionada */
  font-weight: 600;
}

.navbar-logo {
  width: 100px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.navbar-brand:hover .navbar-logo {
  transform: translateY(-5px);
}