<section class="blog-page animate__animated animate__fadeIn">

  <div class="header">
    <h1>Blog EchnelApp</h1>

    <p>
      Compartimos conocimientos, consejos y tendencias sobre tecnología,
      digitalización, seguridad informática y herramientas que ayudan a
      empresas y emprendedores a crecer.
    </p>
  </div>

  <div class="posts animate__animated animate__fadeIn">

    <div class="post-card">
      <h2>¿Por qué tu negocio necesita respaldo de información?</h2>

      <p>
        Conoce los riesgos de perder información importante y cómo
        implementar una estrategia básica de respaldo.
      </p>

      <button routerLink="/respaldo-informacion">
        Leer más
      </button>
    </div>

    <div class="post-card">
      <h2>5 señales de que tu computador necesita mantenimiento</h2>

      <p>
        Aprende a detectar problemas de rendimiento antes de que afecten
        tu trabajo diario.
      </p>

      <button routerLink="/mantenimiento-pc">
        Leer más
      </button>
    </div>

    <div class="post-card">
      <h2>Beneficios de instalar cámaras de seguridad en un negocio</h2>

      <p>
        Descubre cómo un sistema de videovigilancia puede ayudar a proteger
        tu inversión y mejorar el control operativo.
      </p>

      <button routerLink="/camaras-seguridad">
        Leer más
      </button>
    </div>

    <div class="post-card">
      <h2>Transformación digital para pequeñas empresas</h2>

      <p>
        Cómo las herramientas digitales pueden ayudarte a aumentar ventas
        y mejorar la atención a clientes.
      </p>

      <button routerLink="/camaras-seguridad">
        Leer más
      </button>
    </div>


        <div class="post-card">
      <h2>Transformación digital para pequeñas empresas</h2>

      <p>
        Cómo las herramientas digitales pueden ayudarte a aumentar ventas
        y mejorar la atención a clientes.
      </p>

      <button routerLink="/transformacion-digital">
        Leer más
      </button>
    </div>
  </div>

</section>