<section class="services-page">

  <div class="header animate__animated animate__backInLeft">
    <h1>Nuestros Servicios</h1>

    <p>
      Soluciones tecnológicas para empresas, emprendedores,
      instituciones y organizaciones que buscan optimizar sus
      procesos mediante tecnología confiable y moderna.
    </p>
  </div>

  <div class="cards">

    <div class="card" data-aos="fade-up">
      <h3>Desarrollo de Software</h3>
      <p>
        Creamos aplicaciones web y móviles personalizadas para
        automatizar procesos, mejorar la productividad y potenciar
        el crecimiento de tu negocio.
      </p>      
      <ul>
        <li>Aplicaciones Web</li>
        <li>Aplicaciones Móviles</li>
        <li>Dashboards Administrativos</li>
        <li>Integraciones API</li>
        <li>Sistemas de Gestión</li>
      </ul>
      <button routerLink="/desarrollo-software">
        Ir
      </button>
    </div>

    <div class="card" data-aos="fade-right">
      <h3>Soporte Informático</h3>

      <p>
        Mantenimiento preventivo y correctivo para garantizar la
        continuidad operacional de los equipos tecnológicos.
      </p>

      <ul>
        <li>Optimización de PCs</li>
        <li>Instalación de Software</li>
        <li>Respaldos de Información</li>
        <li>Diagnóstico de Fallas</li>
        <li>Soporte Remoto y Presencial</li>
      </ul>
        <button routerLink="/soporte-ti">
        Ir
      </button>
    </div>

    <div class="card" data-aos="zoom-in">
      <h3>Cámaras de Seguridad</h3>

      <p>
        Instalación y configuración de sistemas de videovigilancia
        para hogares, negocios y organizaciones.
      </p>

      <ul>
        <li>Cámaras IP</li>
        <li>DVR y NVR</li>
        <li>Visualización Remota</li>
        <li>Mantención de Equipos</li>
        <li>Configuración de Alertas</li>
      </ul>
      <button routerLink="/seguridad">
        Ir
      </button>
    </div>

    <div class="card" data-aos="flip-left">
      <h3>Redes Empresariales</h3>

      <p>
        Implementación y optimización de infraestructura de red
        para mejorar la conectividad de tu organización.
      </p>

      <ul>
        <li>WiFi Empresarial</li>
        <li>Routers y Switches</li>
        <li>Cableado Estructurado</li>
        <li>Diagnóstico de Redes</li>
        <li>Optimización de Cobertura</li>
      </ul>
    </div>

  </div>

</section>