<section class="hero-content" data-aos="zoom-in">
  <h1>
    Soluciones Tecnológicas para tú Empresa
  </h1>
  <p>
    Desarrollo de software, soporte TI, cámaras de seguridad y redes empresariales.
  </p>
  &nbsp;
  <div class="hero-buttons">
    <!-- <button class="btn btn-primary" >
      Solicitar Cotización
    </button> -->
    <!-- <a
      href="https://wa.me/56985896804?text=Hola,%20quiero%20cotizar%20precios"
      target="_blank"
      class="btn btn-success btn-lg">

      Solicitar Cotización por WhatsApp

    </a> -->
    &nbsp;
    <button class="btn btn-outline-light" routerLink="servicios">
      Ver Servicios
    </button>
  </div>
</section>
<div class="hero-image mt-5 mb-5" data-aos="fade-up">
  <swiper-container
    slides-per-view="1"
    loop="true"
    autoplay-delay="3000"
    navigation="true"
    pagination="true">

    <swiper-slide>
      <img src="assets/ech.png" alt="EchnelApp">
    </swiper-slide>

    <swiper-slide>
      <img src="assets/ech1.png" alt="Software">
    </swiper-slide>

    <swiper-slide>
      <img src="assets/ech2.png" alt="Cámaras">
    </swiper-slide>

    <swiper-slide>
      <img src="assets/ech3.png" alt="Redes">
    </swiper-slide>

    <swiper-slide>
      <img src="assets/ech4.png" alt="Redes">
    </swiper-slide>

  </swiper-container>
</div>

<section class="services animate__animated animate__fadeIn">
  <h2>Nuestros Servicios</h2>
  <div class="cards">
    <div class="card" data-aos="fade-up">
      <h3>Desarrollo de Software</h3>
      <p>
        Aplicaciones web y móviles adaptadas a las necesidades de tu negocio.
      </p>
    </div>
    <div class="card" data-aos="fade-right">
      <h3>Soporte Informático</h3>
      <p>
        Mantención de equipos, optimización de rendimiento y asistencia técnica.
      </p>
    </div>
    <div class="card" data-aos="zoom-in">
      <h3>Cámaras de Seguridad</h3>
      <p>
        Instalación y configuración de sistemas de videovigilancia.
      </p>
    </div>
    <div class="card" data-aos="flip-left">
      <h3>Redes Empresariales</h3>
      <p>
        Configuración de redes WiFi, cableado y conectividad para empresas.
      </p>
    </div>
  </div>
</section>

<section class="plans animate__animated animate__fadeIn">

  <h2>Planes y Servicios</h2>

  <div class="plan-cards">

    <div class="plan-card" data-aos="fade-up">
      <h3>Soporte TI</h3>
      <h4>Desde $39.990/mes</h4>
      <p>
        Soporte remoto, mantención preventiva y asistencia técnica para empresas.
      </p>
    </div>

    <div class="plan-card" data-aos="fade-right">
      <h3>Cámaras de Seguridad</h3>
      <h4>Desde $120.000</h4>
      <p>
        Instalación, configuración y acceso remoto desde dispositivos móviles.
      </p>
    </div>

    <div class="plan-card" data-aos="zoom-in">
      <h3>Redes Empresariales</h3>
      <h4>Desde $100.000</h4>
      <p>
        Redes WiFi, cableado estructurado y optimización de conectividad.
      </p>
    </div>

    <div class="plan-card" data-aos="flip-left">
      <h3>Desarrollo de Software</h3>
      <h4>Desde $250.000</h4>
      <p>
        Sitios web, sistemas empresariales y aplicaciones a medida.
      </p>
    </div>

  </div>

</section>