<div class="hero-image">

  <swiper-container
    slides-per-view="1"
    loop="true"
    autoplay-delay="3000"
    navigation="true"
    pagination="true">

    <swiper-slide>
      <img src="assets/ech.png" alt="TechnelApp">
    </swiper-slide>

    <swiper-slide>
      <img src="assets/ech1.png" alt="Software">
    </swiper-slide>

    <swiper-slide>
      <img src="assets/ech2.png" alt="Cámaras">
    </swiper-slide>

    <swiper-slide>
      <img src="assets/ech3.png" alt="Redes">
    </swiper-slide>

    <swiper-slide>
      <img src="assets/ech4.png" alt="Redes">
    </swiper-slide>

  </swiper-container>

</div>

<section class="services animate__animated animate__fadeIn">
  <h2>Nuestros Servicios</h2>

  <div class="cards">

    <div class="card">
      <h3>Desarrollo de Software</h3>
      <p>
        Aplicaciones web y móviles adaptadas a las necesidades de tu negocio.
      </p>
    </div>

    <div class="card">
      <h3>Soporte Informático</h3>
      <p>
        Mantención de equipos, optimización de rendimiento y asistencia técnica.
      </p>
    </div>

    <div class="card">
      <h3>Cámaras de Seguridad</h3>
      <p>
        Instalación y configuración de sistemas de videovigilancia.
      </p>
    </div>

    <div class="card">
      <h3>Redes Empresariales</h3>
      <p>
        Configuración de redes WiFi, cableado y conectividad para empresas.
      </p>
    </div>

  </div>
</section>