.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 30px;
}

.footer-brand img {
  width: 90px;
  height: auto;
  object-fit: contain;
}

.footer-brand img {
  width: 140px;
}

@media (max-width: 768px) {

  .footer-bottom {
    flex-direction: column;
    // gap: 20px;
    text-align: center;
  }

  .footer-brand img {
    width: 100px;
  }

}

.footer {
  padding: 40px 80px;
}